.container {
  background: url(../public/assets/homebg/background-home-desktop.jpg);
  height: 100vh;
  width: 100vw;
}
.left {
  position: absolute;
width: 450px;
height: 382px;
left: 165px;
top: 387px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.explore {
position: absolute;
width: 274px;
height: 274px;
left: 1001px;
top: 495px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
background-color: #ffffff;
border-radius: 100%;
}
.explore p {
  position: absolute;
height: 37px;
left: 22.63%;
right: 23.36%;
top: calc(50% - 37px/2 + 0.5px);
font-family: 'Bellefair';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 37px;
/* identical to box height */
letter-spacing: 2px;
color: #0B0D17;
}
/* .content {
  display: flex;
  justify-content: space-between;
}
.left {
  width: 450px;
  height: 382px;
  margin-left: 11.5%;
  margin-top: 19%;
}
.left h1 {
  top: calc(50% - 172px/2 - 47px);
}
.left p {
  line-height: 34px;
  color: #D0D6F9;
  text-align: left;
}
.left h5 {
  line-height: 34px;
}
.explore {
  width: 274px;
  height: 274px;
  background-color: #ffffff;
  border-radius: 100%;
  color: #0B0D17;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 11.5%;
  margin-top:25%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  line-height: 37px;
  letter-spacing: 2px;
} */